body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-field-wrapper {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.search-field-wrapper .ui.action.input{
  width: 25vw;
}

.book-listing-wrapper {
  width: 85vw;
  display: grid;
  grid-template-rows: auto;
  grid-gap: .5rem;
  margin: .5rem 0;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.ui.link.cards {
  flex-wrap: nowrap !important;   
}

.ui.cards {
  margin: 0 !important;
}