body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.book-listing-wrapper {
  width: 85vw;
  display: grid;
  grid-gap: .5rem;
  margin-top: 25px;
  align-items: flex-start;
  grid-auto-columns: minmax(260px, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
